URxvt*scrollBar:  false
URxvt*internalBorder: 6
URxvt*font: xft:JetBrainsMono:size=10:antialias=true,xft:TerminessTTFNerdFontMono,xft:MesloLGSNerdFontMono
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot
